<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.bmw.scraping</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/ardonisshalaj/Documents/car_scraping/run_bmw_scraping_launchd.py</string>
    </array>
    <key>StartInterval</key>
    <integer>600</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/ardonisshalaj/Documents/car_scraping/launchd.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/ardonisshalaj/Documents/car_scraping/launchd_error.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/ardonisshalaj/Documents/car_scraping</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/ardonisshalaj/Documents/car_scraping/venv/bin</string>
    </dict>
    <key>KeepAlive</key>
    <false/>
    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
